@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr; 
    background-color: #222831;
    height: 1000px;
    justify-content: center;
}   

header {
    display: flex;
    background-color: #222831;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    border-bottom: solid;
    border-color: #EAEAEA;
}


header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

header h1{
    padding-left: 10px;
    font-size: 1.5em;
    color: #EAEAEA;
    font-family: 'Oswald', sans-serif;
    
    
}

#navbar {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    list-style-type: none;
    
    
}

#navbar li {
    
    padding-left: 15px;
    text-decoration: none;
}

#navbar li a {
    text-decoration: none;
    color: #EAEAEA;
    font-family: 'Oswald', sans-serif;
    
}

main {
    top: 0px;
    display: grid;
    grid: 100vh 100vh 1fr 50vh / 1fr ;
}

#Intro {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    color: #EAEAEA;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;


}


#About {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    background-color: #215884;
    align-items: center;

    text-align: center;
    
}

#About h1 {
    font-family: 'Montserrat', sans-serif;
    color:#EAEAEA;
    font-size: 2em;
    margin-top: 100px;
    max-width: 1000px;
    margin-bottom: 20px;

}

#sep_line {
    margin-top: 10px;
    width: 60vw;
    max-width: 700px;
    height: 2px;
    background-color: #EAEAEA;
}

#About h2 {
    font-family: 'Montserrat', sans-serif;
    color:#EAEAEA;
    font-size: 2em;
    margin-top: 30px;

}

#p_lang {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-around;
    
}

#p_lang div{
    margin: 30px;
}


#p1 {
    width: 100px;
    height: 100px;
}
#p2 {
    width: 100px;
    height: 100px;
}
#p3 {
    width: 100px;
    height: 100px;
}
#p4 {
    width: 100px;
    height: 100px;
}
#p5 {
    width: 100px;
    height: 100px;
}
#p6 {
    width: 100px;
    height: 100px;
}
#p7 {
    width: 100px;
    height: 100px;
}
#p8 {

    width: 100px;
    height: 100px;
}
#p9 {

    width: 100px;
    height: 100px;
}
#p10 {

    width: 100px;
    height: 100px;
}


#Projects {
    grid-row: 3 / 4;
    display: flex; 
    flex-direction: column;
    background-color: #222831;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#Projects h1 {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color:#EAEAEA;
    font-size: 2em;
    margin-bottom: 100px;
}

#proj_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin-bottom: 100px;

    
}

#proj_list div{
    height: 200px;
    width: 360px;
    margin: 30px;
}

#pr1{
    background-color: chartreuse;

}
#pr2{
    background-color: rgb(160, 130, 31);
}
#pr3{
    background-color: rgb(8, 92, 141);
}
#pr4{
    background-color: rgb(100, 7, 109);
}
#pr5{
    background-color: rgb(168, 8, 16);
}

#Contact {
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    background-color: #215884;
    color: #EAEAEA;
    justify-content: center;
    align-items: center;
}

#Contact p {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

#Contact div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#contact-list {
list-style: none;
list-style-type: none;
text-decoration: none;

}

#contact-list li a {
    text-decoration:none !important ;
    color: #EAEAEA;

}

#contact-left{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    max-width: 500px;
    width: 300px;
}

#contact-right {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    max-width: 500px;
    width: 300px;
    
}

#contact-sep div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

#contact-sep div {
    height: 15em;
    width: 1px;
    background-color: #EAEAEA;
}


#right-form{
    display: flex;
    flex-direction: column;
    
}

#right-form input {
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px #215884;
    background-color: #222831;
    color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#right-form button {
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px #215884;
    background-color: #222831;
    color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#right-form textarea {
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px #215884;
    background-color: #222831;
    color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
}

#right-form input:focus {
    outline: none; 
    border: solid 1px #EAEAEA;
}

input[id=name]{
    padding: 10px 30px; 
    
}

input[id=email]{
    padding: 10px 30px; 
}

textarea[id=message]{
    padding: 5px 30px; 
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

button[id=btn]{
    padding: 5px 30px; 
}

#right-form button:focus {
    outline: none; 
    border: solid 1px #EAEAEA;
    
}

footer {
    display: flex;
    height: 30px;
    background-color: #222831;
    align-items: center;
    color: #EAEAEA;
    justify-content: space-between;
}

#bottom-right {
    margin-top: 10px;
}



